<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">
</head>
[class*="col-"]{
 width: 100%;
}
 @media only screen and (max-width: 1284px){
#content {
 float: none;
 width: 100%;
}
#navigation {
 float: none;
 width: auto;
}
}
<style>
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
header{
 width: 100%;
  height:100%;
  background: none;
}
img{
width: 100%;
}
.Div1 {
padding-right: 50%;
text-align: center-right ;
}
.Div2 {
text-align: center-left;
}
.Div3 {
text-align: center;
}
a{
color: #1e8017;
}
a:link{
 text-decoration: none;
}
a:visited{
 text-decoration: none;
}
a:hover{
 text-decoration: underline;
}
a:active{
 text-deccation: none;
}
.button{
 background-color: none;
 border: none;
 text-align: center;
 text-decoration: none;
 dispaly: inline-block;
}
h1{
font-size: 3.5em;
color: #1e8017;
text-align: center;
font-family: "Big Shoulders Inline Text", cursive;
}
h2{
color: white;
font-family: 'Merriweather Sans', sans-serif;
padding-top: 30%;
padding-right: 60%;
padding-left: 1%;
padding-bottom: 3%;
background-image: url("https://user-images.githubusercontent.com/75944088/102077019-8b203d00-3e00-11eb-8e16-33524bf05c66.JPG");
background-repeat: no-repeat;
background-size: cover;
}
h3{
border-top-style: double; 
border-bottom-style: double;
text-align: center;
 color: #1e8017;
font-family: 'Merriweather Sans', sans-serif;
}
p {
font-size: 1.5em;
font-family: 'Yanone Kaffeesatz', sans-serif;
border-color: #1e8017;
border-right-style: double;
border-left-style: double;
padding-left: 2%;
padding-right: 2%;
}
          
          
            
</style>
</html>
