<!DOCTYPE html>
<html>
<head>
</head>
[class*="col-"]{
 width: 100%;
}
 @media only screen and (max-width: 1284px){
#content {
 float: none;
 width: 100%;
}
#navigation {
 float: none;
 width: auto;
}
}
<style>
header{
 width: 100%;
  height:100%;
  background: none;
}
img{
width: 100%;
}
.Div1 {
padding-right: 50%;
text-align: center-right ;
}
.Div2 {
text-align: center-left;
}
.Div3 {
text-align: center;
}
a{
color: #1e8017;
}
a:link{
 text-decoration: none;
}
a:visited{
 text-decoration: none;
}
a:hover{
 text-decoration: underline;
}
a:active{
 text-deccation: none;
}
.button{
 background-color: none;
 padding: 10px;
 border: none;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 background: none;
 float: left;
}
  .button2 {
      background-color: #ffffff;
      border: none;
      color: white;
      text-align: center;
      text-deoration: none;
      display: inline-block;
      font-size: 4em
      margin: none;
      cursor: pointer;
      width: 100%;
    }
h1{
 font-family: "Big Shoulders Inline Text", cursive;
font-size: 3.5em;
color: #1e8017;
text-align: center;
}
h2{
color: white;
font-family: 'Merriweather Sans', sans-serif;
padding-top: 30%;
padding-right: 60%;
padding-left: 1%;
padding-bottom: 3%;
background-image: url("https://user-images.githubusercontent.com/75944088/102077019-8b203d00-3e00-11eb-8e16-33524bf05c66.JPG");
background-repeat: no-repeat;
background-size: cover;
}
h3{
border-top-style: double; 
border-bottom-style: double;
text-align: center;
 color: #1e8017;
font-family: 'Merriweather Sans', sans-serif;
}
p {
font-size: 1.5em;
font-family: 'Yanone Kaffeesatz', sans-serif;
border-color: #1e8017;
border-right-style: double;
border-left-style: double;
padding-left: 2%;
padding-right: 2%;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  max-height: 35%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
 font-family: "Big Shoulders Inline Text", cursive;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #1e8017;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  font-family: 'Merriweather Sans', sans-serif;
  color: #ffffff;
  background-color: rgba(0,0,0,0.8); 
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #1e8017;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #1e8017;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

          
          
            
</style>
</html>
